<launch>
  <node name="rtcd" pkg="openrtm_aist" type="rtcd" output="screen"
        args='-o manager.is_master:YES -o "corba.master_manager:localhost:2810" -o "corba.nameservers:localhost:15005"' />

  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader"
        args="-ORBInitRef NameService=corbaloc:iiop:localhost:15005/NameService" output="screen"/> <!-- mot necessary. specific for SeqencePlayer and StateHolder -->

  <node name="load_rh"  pkg="rtcloader" type="load.py" output="screen"
        args="hrpsys-base/RobotHardware localhost:2810">
    <rosparam subst_value="true">
      execution_context:
        type: "PeriodicExecutionContext"
        rate: 500
      instance_name: rh
      config_file: $(find hrpsys_ros_bridge)/models/SampleRobot.conf
    </rosparam>
  </node>

  <node name="load_seq"  pkg="rtcloader" type="load.py" output="screen"
        args="hrpsys-base/SequencePlayer localhost:2810">
    <rosparam subst_value="true">
      instance_name: seq
      config_file: $(find hrpsys_ros_bridge)/models/SampleRobot.conf
    </rosparam>
  </node>

  <node name="load_sh"  pkg="rtcloader" type="load.py" output="screen"
        args="hrpsys-base/StateHolder localhost:2810">
    <rosparam subst_value="true">
      instance_name: sh
      config_file: $(find hrpsys_ros_bridge)/models/SampleRobot.conf
    </rosparam>
  </node>

  <node name="serialload" pkg="rtcloader" type="serialize.py" output="screen"
        args="localhost:2810">
    <rosparam>
      instance_names: ["rh","seq","sh"]
    </rosparam>
  </node>
</launch>
